/* Extra small devices (768px and down) */
@media screen and (max-width: 768px) {
    /* for mobile web */
    .CreateActivityForm {
        width: fit-content;
        color:black;
    }

    .CreateActivityForm .activity-frame {

    }

    .CreateActivityForm .activity-frame .activity-topic {
        display: none;
    }

    .CreateActivityForm .form-container {
        padding: 1rem;
    }

    .CreateActivityForm .datetime-sport-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .CreateActivityForm .datetime-sport-container .datetime-container,
    .CreateActivityForm .datetime-sport-container .sport-container {
        width: 100%;
    }

    .CreateActivityForm .datetime-sport-container .sport-container .sport-option-box select {
        width: 50%;
        text-align: center;
        font-weight: bold;
        margin-top: 0.5rem;

        border: none;
        border-radius: 10px;
        box-shadow: -1px 3px 4pt 0 #c8c7c7;
        font-size: 0.75rem;
    }

    .CreateActivityForm .description-container .description-input-box textarea {
        width: 100%;
        height: 80px;
        resize: none;

        border: none;
        border-radius: 10px;
        box-shadow: -1px 3px 4pt 0 #c8c7c7;

        margin-top: 0.5rem;
        font-size: 0.75rem;
    }

    .CreateActivityForm .challenge-container {
        display: flex;
        justify-content: flex-end;
    }

    .CreateActivityForm .challenge-container .btn-15,
    .CreateActivityForm .challenge-container .btn-30 {
        margin-left: 1rem;
        border-radius: 5px;
        border: none;
        background-color: white;
        box-shadow: 0px 3px 4pt 0 #c8c7c7;

        font-size: 0.5rem;
    }

    .CreateActivityForm .challenge-container .btn-15:focus,
    .CreateActivityForm .challenge-container .btn-30:focus  {
        color: white;
        background-color: #4972DB;
    }

    .CreateActivityForm .button-container {
        display: flex;
        justify-content: flex-end;
    }

    .CreateActivityForm .button-container .button-create,
    .CreateActivityForm .button-container .button-cancel {
        width: auto;

        background-color: #E05454;
        color: white;
        /* font-weight: bold; */
        text-align: center;
        margin-left: 1rem;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
    }

    .form-topic-size {
        font-size: 0.75rem;
        font-weight: bold;
    }

    .CreateActivityForm .form-container .name-box,
    .CreateActivityForm .form-container .datetime-sport-container,
    .CreateActivityForm .form-container .location-container,
    .CreateActivityForm .form-container .description-container,
    .CreateActivityForm .form-container .challenge-container  {
        margin-bottom: 0.5rem;
    }

    .CreateActivityForm .form-container .name-box .name-input-box input, 
    .CreateActivityForm .form-container .location-container .location-input-box input {
        width: 100%;
        height: 20px;
        border-color: white;
        border-radius: 5px;
        border-style: none;
        box-shadow: -1px 3px 4pt 0 #c8c7c7;

        margin-top: 0.5rem;
    }

}

@media screen and (min-width: 768px) {
    /* for desktop web */
    .CreateActivityForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        color:black;
    }

    .CreateActivityForm .activity-frame {
        width: 600px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0px 5px 4pt 0 #c8c7c7;
    }

    .CreateActivityForm .activity-frame .activity-topic {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
    }

    .CreateActivityForm .activity-frame .activity-topic h1 {
        font-size: 1.5rem;
    }

    .CreateActivityForm .form-container {
        padding: 1rem 3rem 1rem 3rem;
    }

    .CreateActivityForm .datetime-sport-container {
        display: flex;
        justify-content: flex-start;
    }

    .CreateActivityForm .datetime-sport-container .datetime-container,
    .CreateActivityForm .datetime-sport-container .sport-container {
        width: 50%;
        padding-right: 1rem;
    }

    .CreateActivityForm .datetime-sport-container .sport-container .sport-option-box {

    }

    .CreateActivityForm .datetime-sport-container .sport-container .sport-option-box select {
        width: 100%;
        text-align: end;
        font-weight: bold;
        padding-right: 0.5rem;
        margin-top: 0.5rem;

        border: none;
        border-radius: 10px;
        box-shadow: -1px 3px 4pt 0 #c8c7c7;
    }

    .CreateActivityForm .description-container .description-input-box textarea {
        width: 100%;
        height: 80px;
        resize: none;

        border: none;
        border-radius: 10px;
        box-shadow: -1px 3px 4pt 0 #c8c7c7;

        margin-top: 0.5rem;
    }

    .CreateActivityForm .challenge-container {
        display: flex;
        justify-content: flex-end;
    }

    .CreateActivityForm .challenge-container .btn-15,
    .CreateActivityForm .challenge-container .btn-30 {
        margin-left: 1rem;
        border-radius: 5px;
        border: none;
        background-color: white;
        box-shadow: 0px 3px 4pt 0 #c8c7c7;
    }

    .CreateActivityForm .challenge-container .btn-15:focus,
    .CreateActivityForm .challenge-container .btn-30:focus  {
        color: white;
        background-color: #4972DB;
    }

    .CreateActivityForm .challenge-container .btn-15:hover,
    .CreateActivityForm .challenge-container .btn-30:hover{
        
    }

    .CreateActivityForm .button-container {
        display: flex;
        justify-content: flex-end;
    }

    .CreateActivityForm .button-container .button-create,
    .CreateActivityForm .button-container .button-cancel {
        width: auto;

        background-color: #E05454;
        color: white;
        /* font-weight: bold; */
        text-align: center;
        margin-left: 1rem;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
    }


    .form-topic-size {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .CreateActivityForm .form-container .name-box,
    .CreateActivityForm .form-container .datetime-sport-container,
    .CreateActivityForm .form-container .location-container,
    .CreateActivityForm .form-container .description-container,
    .CreateActivityForm .form-container .challenge-container  {
        margin-bottom: 1rem;
    }

    .CreateActivityForm .form-container .name-box .name-input-box input, 
    .CreateActivityForm .form-container .location-container .location-input-box input {
        width: 100%;
        height: 20px;
        border-color: white;
        border-radius: 5px;
        border-style: none;
        box-shadow: -1px 3px 4pt 0 #c8c7c7;

        margin-top: 0.5rem;
    }

}