/* Extra small devices (768px and down) */
@media screen and (max-width: 768px) {
    /* for mobile web */
}

/* Extra larger devices (768px and up) */
@media screen and (min-width: 768px) {
    /* for desktop web */
    .Board {

    }

    .Board .userinfo-stat-tip-container {
        display: flex;
        justify-content: space-between;
    }

    .Board .Activities {
        position:relative;
        /* top: 100px; */
        
        /* margin: 1rem ; */

        margin: 2rem 0 2rem 0;
    }
}