@import "rsuite/dist/rsuite.css";

.App {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Inter';
}

/* Extra small devices (768px and down) */
@media screen and (max-width: 768px){
  /* for mobile web */
  .App {

  }

  .App .Login {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .App .CreateActivity,
  .App .EditActivity{
    position: absolute;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translate(-50%, 0%);
  }
}
/* Extra larger devices (768px and up) */
@media screen and (min-width: 768px) {
  /* for desktop web */
  .App {
    padding: 8rem 2rem 8rem 2rem;
  }

  .App .Login {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .App .CreateActivity,
  .App .EditActivity{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}